
body {
	margin: 0;
	overflow-x: hidden;
}


#main-wrapper {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

	.sliding-background {
		display: inline;
		position: absolute;
		background: url("assets/sky.png") repeat-x;
		width: 100%;
		height: 100vh;
		background-size: 100% 100vh;
		z-index: -1;
	}

	#first-background {
		transform: translate(0, 0);
		animation: slideOne 60s linear infinite;
	}

	#second-background {
		transform: translate(-99.9%, 0);
		animation: slideTwo 60s linear infinite;
	}

.top-bar {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 44px;
	z-index: 1;
}

.top-bar-item {
	float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:  'VT323', monospace;
    letter-spacing: 1px;
    font-size: 25px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 3px black;
    /*text-shadow: 3px 3px black;*/
}

/* Window Wrapper */
/* Items are indented for clarity and readability */
.exp-window {
	display: block;
	visibility: hidden;
	position: relative;
	border: 4px solid white;
	width: 65vw;
	height: 50vh;
	background: rgba(0, 0, 0, 0.8);
	margin: auto;
	margin-top: 8%;
	z-index: 1;
	/* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
}

	.tx-box { 
		display: block;
		width: 70%;
		height: 40%;
		background-color: black;
		margin: auto;
		transform: translate(0, 210%);
		border: 3px solid white;
		/* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
	}
	#tx-box-name {
		display: inline-block;
		margin-top: 0.3em;
		margin-left: 0.25em;
		font-family: 'VT323', monospace;
		font-size:  2vw;
		color: white;
		letter-spacing: 1px;
	}
	#tx-box-text {
		display: inline-block;
		margin-top: 0.3em;
		margin-bottom:  0.5em;
		margin-left: 0.25em;
		width:  95%;
		height: 90%;
		font-family: 'VT323', monospace;
		font-size: 1.6vw;
		color: white;
		letter-spacing: 1px;


	}
		/* Not actually nested but it's physically "inside tx-box-text" */
		#text-options {
			opacity: 0;
			position: absolute;
			display: block;
			border: 3px solid white;
			top: 70%;
			left: 75%;
			width: 40%;
			height: 60%;
			background-color: black;
		}

.option {
	position: absolute;
	border: none;
	outline: none;
	background: none;
	cursor: context-menu;
	font-size: 1.5vw;
	letter-spacing: 0.1px;
	color: white;
}

.option:hover {
	color: red;
}

	#option0 {
		font-family: 'VT323', monospace;
		top: 5%;
	}

	#option1 {
		font-family: 'VT323', monospace;
		top: 32%;
	}

	#option2 {
		font-family: 'VT323', monospace;
		top: 62%;
	}

.animation {
	opacity: 1;
	position: absolute;
	/* True Middle Test */
	/* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
	display: block;
}
	#carrot_angry {
		width: 40%;
		left: 30%;
		top: 30%;
	}

	#carrot_cry {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#white {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#orange {
		transform: scaleX(-1);
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#dollar_confirmed {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#dollar_rejected {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#papers_confirmed {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#papers_rejected {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#border_map {
		width: 25%;
		left: 37%;
		top: 10%;
	}

	#food_bowl {
		width: 20%;
		left: 40%;
		top: 30%;
	}

	#globe {
		width: 30%;
		left: 33%;
		top: 10%;
	}
/* Animation/Keyframes */

@keyframes slideOne {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes slideTwo {
	0% {
		transform: translate3d(-99.9%, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}